<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.lr6/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.lr6.view.user/UserListView.title"/>
        <item view="Task_.list" title="msg://com.company.lr6.view.task/taskListView.title"/>
        <item view="Group_.list" title="msg://com.company.lr6.view.group/groupListView.title"/>
        <item view="Answer.list" title="msg://com.company.lr6.view.answer/answerListView.title"/>
    </menu>

</menu-config>